<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Recuperar contraseña</title>
<link href="Estilo.css" rel="stylesheet" type="text/css">
<link href="imagen/icomoon/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header class="">
    	<div class="contenedordos">
        	<img src="imagen/photo_2020-11-23_11-49-24.jpg" alt="portada">
        </div>
	</header>

    <main class="main">
    	<div class="contenedor">
        <div class="pregunta">
        <p>¿Tienes problemas para ingresar?</p>
        <input type="text" placeholder="User name" class="radio">
         </div>

         <div >
         <label class="blanco">Pregunta:</label>
        <input type="text" class="derecha">
         </div>

         <div>
         <label class="blanco">Escribe tu respuesta:</label>
        <input type="text" class="derecha">
         </div>

         <div class="centro">
         <a href="#" class="boton"><span class="icon-enter1"></span>Confirmar</a>
         </div>

        </div>
    </main>
</body>
</html>