<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Clientes</title>
</head>
<body>

   <!--Parte superior -->

   <div class="container-fluid"> <!--Cointainer fluid usa toda la pantalla para las regillas-->

        <div class="row">
            <div class="col-md-2" style="border: 1px solid #000; background-color: gray; height: 50px;" ></div>
            <div class="col-md-3" style="background-color: blue;">de 3</div>
            <div class="col-md-4" style="border: 1px solid #000; background-color: blue;"><h3 style="color: cornsilk;">Bienvenido: Peter</h3></div>
            <div class="col-md-3" style="background-color: blue;"><h2 style="color: cornsilk;">¿Que desea hacer?</h2></div>
          </div>

    <!--primeras filas -->

    <div class="row">
        <div class="col-md-2" style="border: 1px solid #000; background-color: gray; height: 100px;"><h3 style="color: black;">Imagen Clientes</h3></div>
        <div class="col-md-10" style="background-color: white;"><h2 style="color: black;">Imagen Clientes</h2></div>
      </div>

      <!--Segundas filas-->

      <div class="row">
        <div class="col-md-2" style="border: 1px solid #000; background-color: gray; height: 100px;" ></div>
        <div class="col-md-3" style="border: 1px solid #000; background-color: blue;">de 3</div>
        <div class="col-md-3" style="border: 1px solid #000; background-color: blue;"><h3 style="color: cornsilk;">Bienvenido: Peter</h3></div>
        <div class="col-md-4" style="border: 1px solid #000; background-color: blue;"><h2 style="color: cornsilk;">¿Que desea hacer?</h2></div>
      </div>

      <!--Terceras filas-->

      <div class="row">
        <div class="col-md-2" style="border: 1px solid #000; background-color: gray; height: 100px;" ></div>
        <div class="col-md-3" style="border: 1px solid #000; background-color: blue;">de 3</div>
        <div class="col-md-3" style="border: 1px solid #000; background-color: blue;"><h3 style="color: cornsilk;">Bienvenido: Peter</h3></div>
        <div class="col-md-4" style="border: 1px solid #000; background-color: blue;"><h2 style="color: cornsilk;">¿Que desea hacer?</h2></div>
      </div>

      <!--Cuartas filas-->

      <div class="row">
        <div class="col-md-2" style="border: 1px solid #000; background-color: gray; height: 100px;" ></div>
        <div class="col-md-3" style="border: 1px solid #000; background-color: blue;">de 3</div>
        <div class="col-md-3" style="border: 1px solid #000; background-color: blue;"><h3 style="color: cornsilk;">Bienvenido: Peter</h3></div>
        <div class="col-md-4" style="border: 1px solid #000; background-color: blue;"><h2 style="color: cornsilk;">¿Que desea hacer?</h2></div>
      </div>

      <!--Quinta fila-->

      <div class="row">
        <div class="col-md-2" style="border: 1px solid #000; background-color: gray; height: 100px;" ></div>
        <div class="col-md-3" style="border: 1px solid #000; background-color: blue;">de 3</div>
        <div class="col-md-3" style="border: 1px solid #000; background-color: blue;"><h3 style="color: cornsilk;">Bienvenido: Peter</h3></div>
        <div class="col-md-4" style="border: 1px solid #000; background-color: blue;"><h2 style="color: cornsilk;">¿Que desea hacer?</h2></div>
      </div>

      <!-- Ultima fila  -->

      <div class="row">
        <div class="col-md-2" style="border: 1px solid #000; background-color: gray; height: 300px;" ></div>
        <div class="col-md-10" style="border: 1px solid #000; background-color: blue;">de 3</div>
      </div>

   </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>